nav{
  margin-bottom: 0px;
  background-color: rgba(8,8,8,0.5);
  border: none;
  font-family: Electrolize;
}
section{
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  width: 100%;
}
.page-one{
  background-color: #39373a;
  background-image: url('https://images.unsplash.com/photo-1518770660439-4636190af475?ixlib=rb-0.3.5&s=dc2540d209b4e4474f396381bd794c02&auto=format&fit=crop&w=750&q=80');
}
.page-one .content{
  padding-top: 30px;
  padding-bottom: 30px;
}
.page-one h1{
  font-size: 50px;
  font-weight: 1000;
  margin-top: 0;
  margin-bottom: 15px;
  color: #E33258;
  font-family: Dancing Script;
}
.page-one h2{
  font-size: 40px;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 15px;
  color: #ffffff;
  font-family: Baloo;
  border-top: #ffffff solid;
}
.page-one ul{
  padding: 0;
  list-style-type: none;
}
.page-one ul li{
  display: inline;
}
.page-one ul li a{
  color: white;
  font-size: 40px;
  padding: 10px;
}
.page-one ul li a:hover{
  opacity: 0.5;
}
.page-two{
  background-color: #39373a;
  background-image: url('https://images.unsplash.com/photo-1499051775559-dcb9f02d2107?ixlib=rb-0.3.5&s=0d9979c2b947ee990a56e52b32703d75&auto=format&fit=crop&w=667&q=80');
}
.page-two h3{
  font-family: Dancing Script;
  border-bottom: #000000 solid;
  font-size: 50px;
  color: #E33258;
}
.page-two p{
  font-size: 1.2em;
  font-family: Electrolize;
  color: #000000;
}
.page-three{
  background-color: #39373a;
  background-image: url('https://images.unsplash.com/photo-1483546363825-7ebf25fb7513?ixlib=rb-0.3.5&s=d7ceeaa5bd06ceeb12f271cb492d5515&auto=format&fit=crop&w=750&q=80');
}
.page-three h3{
  color: white;
  font-family: Baloo;
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 40px;
}
.page-four{
  background-color: #39373a;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  font-family: Cantarell;
}
.page-four ul{
  padding: 0;
  list-style-type: none;
}
.page-four ul li{
  display: inline;
}
.page-four ul li a{
  color: white;
  font-size: 20px;
  padding: 10px;
}
.page-four ul li a:hover{
  opacity: 0.5;
}